<div class="rectangle">
  <div class="logo">
    <img src="/assets/img/logo.png" alt="logo">
    <h4 class="heading">Your Logo</h4>
  </div>
  <div class="screen-guard">
    <img src="/assets/img/screen-guard.png" alt="sGuard">
  </div>
  <div class="menu-icon">
    <img src="/assets/img/menu-icon.png" alt="menu-icon">
  </div>
  <div class="mobile">
    <img src="/assets/img/mobile.png" alt="mobile">
  </div>

  <div class="rectangle-2">
    <p class="para1">No Scratch No Crack</p>
    <h2 class="heading2">Ultimate Protection for Your Device</h2>
    <p class="para2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec mauris ligula. Tempor feugiat.
      Donec hendrerit diam</p>
    <button class="btn" type="button">Order Now</button>
    <button class="play-button button5">Play</button>
    <button class="play-intro-btn" type="button">Play Intro</button>
  </div>
  <img class="icons" src="/assets/img/icons.png" alt="mobile">
</div>


<div class="rectangle-3">
  <img class="phone" src="/assets/img/phone.png" alt="phone">
  <img class="watch" src="/assets/img/watch.png" alt="watch">
  <h1 class="heading3">Main Features Of Our Protectors</h1>
  <p class="para3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec mauris ligula. Vestibulum fringilla
    tempor
    feugiat.Donec hendrerit diam id ipsum vulputate, fermentum accumsan nisi mollis</p>
  <img class="line" src="/assets/img/line.png" alt="line">
</div>

<div class="card">
  <mat-card class="example-card">
    <img mat-card-image src="/assets/img/girl.png" alt="Girl">
    <mat-card-title style="font-weight: bold ;">Anti-Bacterial</mat-card-title>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui at ut mauris vitae. Mi magna scelerisque
        nulla elit integer erat tempor nisi congue.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>View More &RightArrow;</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card-2">
    <img mat-card-image src="/assets/img/transparent.png" alt="transparent Guard">
    <mat-card-title style="font-weight: bold;">Excellent Transparency</mat-card-title>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui at ut mauris vitae. Mi magna scelerisque
        nulla elit integer erat tempor nisi congue.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>View More &RightArrow;</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card-3">
    <img mat-card-image src="/assets/img/anti-scratch.png" alt="anti-scratch">
    <mat-card-title style="font-weight: bold;">Anti Scratch</mat-card-title>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui at ut mauris vitae. Mi magna scelerisque
        nulla elit integer erat tempor nisi congue.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>View More &RightArrow;</button>
    </mat-card-actions>
  </mat-card>
</div>


<img class="game" src="/assets/img/game.png" alt="game">
<img class="mobilescreen3" mat-card-sm-image src="/assets/img/mobilescreen2.png" alt="mobilescreen3">


<div class="damageFree">
  <h2 class="heading4">We Make Your Device Damage Free</h2>
  <p class="para4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec mauris ligula. Vestibulum fringilla
    tempor
    feugiat.Donec hendrerit diam id ipsum vulputate, fermentum accumsan nisi mollis</p>
  <img class="line2" src="/assets/img/line.png" alt="line">

  <mat-card class="example-card4">
    <mat-card-title-group>
      <img mat-card-sm-image src="/assets/img/mobilelogo.png" alt="moblelogo">
      <h2 class="heading5">SmartPhones & Wears</h2>
      <p class="para5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec mauris ligula. Vestibulum</p>
    </mat-card-title-group>
    <mat-card-actions>
      <button style="position: absolute; width: 90px; right: 222px; top:265px;background: none; border: none;"
        mat-button>View More &RightArrow;</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card5">
    <mat-card-title-group>
      <img mat-card-sm-image src="/assets/img/mobilelogo.png" alt="moblelogo">
      <h2 class="heading6">Laptops & Consoles</h2>
      <p class="para6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec mauris ligula. Vestibulum</p>
    </mat-card-title-group>
    <mat-card-actions>
      <button style="position: absolute; width: 90px; right: 222px; top:265px;background: none; border: none;"
        mat-button>View More &RightArrow;</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card6">
    <mat-card-title-group>
      <img mat-card-sm-image src="/assets/img/mobilelogo.png" alt="moblelogo">
      <h2 class="heading7">Customs</h2>
      <p class="para7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec mauris ligula. Vestibulum</p>
    </mat-card-title-group>
    <mat-card-actions>
      <button style="position: absolute; width: 90px; right: 222px; top:265px;background: none; border: none;"
        mat-button>View More &RightArrow;</button>
    </mat-card-actions>
  </mat-card>
</div>

<img class="sg2" mat-card-sm-image src="/assets/img/sg2.png" alt="screen2">
<img class="mobilescreen2" mat-card-sm-image src="/assets/img/mobilescreen2.png" alt="mobilescreen2">

<div class="heading8">
  <h2 class="head">Come on. Get Your Epic Protector</h2>
  <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec mauris. Vestibulum amet sit dolor
    ipsum fringilla
    tempor feugiat.</p>
  <img class="iphone5s" mat-card-sm-image src="/assets/img/iphone5s.png" alt="iphone5s">
  <img class="iphone6s" mat-card-sm-image src="/assets/img/iphone6s.png" alt="iphone6s">
  <img class="iphone7s" mat-card-sm-image src="/assets/img/iphone7s.png" alt="iphone7s">
  <button class="btn2" type="button">Order Now</button>
  <img class="sponsored" mat-card-sm-image src="/assets/img/sponsored.png" alt="sponsored">
</div>

<div class="rectangle-31">
  <h1 class="heading31">Use Cases</h1>
  <p class="para31">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec mauris ligula. Vestibulum fringilla
    tempor
    feugiat.Donec hendrerit diam id ipsum vulputate, fermentum accumsan nisi mollis</p>
  <img class="line1" src="/assets/img/line.png" alt="line">
</div>

<div class="card1">
  <mat-card class="example-card1">
    <img mat-card-image src="/assets/img/mobilex.png" alt="mobilex">
    <mat-card-title style="font-weight: bold ;">Mobile Phone</mat-card-title>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui at ut mauris vitae. Mi magna scelerisque
        nulla elit integer erat tempor nisi congue.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button style="background: none; border: none;">View More &RightArrow;</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card-21">
    <img mat-card-image src="/assets/img/applewatch.png" alt="applewatch">
    <mat-card-title style="font-weight: bold;">Smart Watch</mat-card-title>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui at ut mauris vitae. Mi magna scelerisque
        nulla elit integer erat tempor nisi congue.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button style="background: none; border: none;">View More &RightArrow;</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card-31">
    <img mat-card-image src="/assets/img/macbookpro.png" alt="macbookpro">
    <mat-card-title style="font-weight: bold;">Laptop</mat-card-title>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui at ut mauris vitae. Mi magna scelerisque
        nulla elit integer erat tempor nisi congue.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button style="background: none; border: none;">View More &RightArrow;</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="aboutUs">

  <div class="innerdiv">
    <h2 class="innerheading">See What People Are Saying About Us</h2>
    <p class="innerpara">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec mauris ligula. Vestibulum
      fringilla tempor feugiat.</p>
  </div>

  <div class="innerdiv2">
    <img class="boyimg" mat-card-image src="/assets/img/boyimg.png" alt="boyimg">
    <h2 class="name1">Joe Anderson</h2>
    <p class="designation1">Designer</p>
    <p class="boypara">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a erat ac ipsum sagittis
      elementum a vitae eros.
      Curabitur ac est enim ulla pulvinar est id.</p>

  </div>

  <div class="innerdiv3">
    <img class="girlimg" mat-card-image src="/assets/img/girlimg.png" alt="girlimg">
    <h2 class="name2">Joe Anderson</h2>
    <p class="designation2">Designer</p>
    <p class="girlpara">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a erat ac ipsum sagittis
      elementum a vitae eros.
      Curabitur ac est enim ulla pulvinar est id.</p>

  </div>

  <div class="innerdiv4">
    <img class="smilygirlimg" mat-card-image src="/assets/img/smilygirlimg.png" alt="smilygirlimg">
    <h2 class="name3">Joe Anderson</h2>
    <p class="designation3">Designer</p>
    <p class="smilygirpara">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a erat ac ipsum sagittis
      elementum a vitae eros.
      Curabitur ac est enim ulla pulvinar est id.</p>
  </div>
  <img class="trustpilot" mat-card-image src="/assets/img/trustpilot.png" alt="trustpilot">
</div>

<div class="rectangle-311">
  <h1 class="heading311">What You’ll Get</h1>
  <p class="para311">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec mauris ligula. Vestibulum fringilla
    tempor
    feugiat.Donec hendrerit diam id ipsum vulputate, fermentum accumsan nisi mollis</p>
  <img class="line11" src="/assets/img/line.png" alt="line">
</div>
<div class="tab-group">

  <img class="mobilepic" src="/assets/img/mobilepic.png" alt="mobilepic">

  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Product Description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum eget
      tellus vel, turpis a metus. Mauris dignissim integer quis egestas mauris commodo velit. Est mattis consectetur
      quis aliquam semper aliquet consectetur. Ut sit ut feugiat commodo consectetur feugiat et.</mat-tab>

    <mat-tab label="Dimension">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum eget tellus
      vel, turpis a metus. Mauris dignissim integer quis egestas mauris commodo velit. Est mattis consectetur quis
      aliquam semper aliquet consectetur. Ut sit ut feugiat commodo consectetur feugiat et.</mat-tab>

    <mat-tab label="Material">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum eget tellus vel,
      turpis a metus. Mauris dignissim integer quis egestas mauris commodo velit. Est mattis consectetur quis aliquam
      semper aliquet consectetur. Ut sit ut feugiat commodo consectetur feugiat et.</mat-tab>
  </mat-tab-group>
  <mat-label>Quantity : </mat-label> 
  <mat-form-field class="example-margin example-width" appearance="fill">
    <input matInput type="number" [(ngModel)]="min">
    <button class="btn21" type="button">Order Now</button>
    <img class="truck" src="/assets/img/truck.png" alt="truck">
  </mat-form-field>
</div>

<div class="footer">
  <p class="footerpara">Copyright © 2020 UMA SCREEN</p>
</div>